@model RiskManagementTool.Models.RiskInfo
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <h4>Risk Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RiskSummary)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.RiskSummary)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.RiskDescription)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.RiskDescription)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.RiskRating)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.RiskRating)
        </dt>
    </dl>
</div>

<div>
    
    <a asp-action="Index">Back to List</a>
</div>