@model IEnumerable<RiskManagementTool.Models.RiskInfo>  
@{
    ViewData["Title"] = "Risk Management Page";
}

<h1>Risks Overview</h1>

    <p>
       The below outlines any risk that are currently outstanding, they are rated from 1 - 5. 1 being the lowest risk rating with insignificant consequence, and 5 being the
        highest risk with critical consiquences. 
    </p>

    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RiskSummary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RiskDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RiskRating)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ris in Model)
            {
                string colour = (ris.RiskRating == 1 ? "LightGreen" : ris.RiskRating == 2 ? "Green" : ris.RiskRating == 3 ? "Yellow" : ris.RiskRating == 4 ? "Orange" : ris.RiskRating == 5 ? "Red" : "Red");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ris.RiskSummary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ris.RiskDescription)
                    </td>
                    <td style="background-color:@colour">
                        @Html.DisplayFor(modelItem => ris.RiskRating)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@ris.ID">Edit</a>
                        <a asp-action="Details" asp-route-id="@ris.ID">Details</a>
                        <a asp-action="Delete" asp-route-id="@ris.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>